div#viewbar {
  width: 100%;
  height: 2rem;
  background-color: #3a3a3a;
  display: flex;

  div#viewbarLeft {
    height: 100%;
    display: flex;

    div#sliderBox {
      display: flex;
      align-items: center;
      padding: 0 .75rem 0 .75rem;
      border-right: 1px solid #2e2e2e;

      img {
        width: 1rem;
        height: 1rem;
      }

      input#slider {
        -webkit-appearance: none;
        background: transparent;
        width: 4rem;
        padding: 0 .25rem 0 .25rem;


        &:hover {
          opacity: 1;
        }

        &::-webkit-slider-runnable-track {
          background: #6b6b6b;
          width: 100%;
          height: 4px;
          border-radius: 10px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 1rem;
          width: 8px;
          border-radius: 2px;
          background-color: #c5c5c5;
          margin-top: -6px; // weird hack to fix slider handle
        }

        &::-moz-range-track {
          background-color: #6b6b6b;
          width: 100%;
          height: 4px;
          border-radius: 10px;
        }

        &::-moz-range-thumb {
          border: 0;
          width: 8px;
          height: 16px;
          border-radius: 2px;
          background-color: #c5c5c5;
        }
      }
    }

    div#displayBox {
      height: 100%;
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 0 .75rem 0 .75rem;
      border-right: 1px solid #2e2e2e;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.4rem;
        height: 1.4rem;
        background-color: #6b6b6b;
        border-width: 1px;
        border-color: #444444;
        
        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }

        img {
          width: .8rem;
          height: .8rem;
        }
      }

      button#coversButton {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 1px;
      }

      button#detailsButton {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    div#configBox {
      height: 100%;
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 0 .75rem 0 .75rem;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.4rem;
        height: 1.4rem;
        background-color: #6b6b6b;
        border-width: 1px;
        border-color: #444444;
        
        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }

        img {
          width: .8rem;
          height: .8rem;
        }
      }

      button#openButton {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 1px;
      }

      button#saveButton {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  div#viewbarRight {
    height: 100%;
    margin-left: auto;

    div#searchBox {
      height: 100%;
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 0 .75rem 0 .75rem;

      img {
        width: 1.25rem;
        margin-right: .25rem;
      }

      input {
        width: 8rem;
        height: 1.2rem;
        padding: 4px;
        border-radius: 4px;
        border-width: 1px;
        opacity: 0.7;
        
        transition: width 200ms ease-in-out;

        &:focus {
          width: 12rem;
          opacity: 1;
        }
      }
    }
  }
}