li.mediaItem {
  margin: .5rem;
  
  button.itemButton {
    border: 0;
    background-color: transparent;
    transition: opacity 50ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    div#item {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: auto;
      justify-content: center;
      align-items: center;

      img.cover {
        width: calc(100% - 6px);
        border-radius: 3px;
        border: outset 3px #272727;
      }
  
      p.title {
        font-weight: 300;
        text-align: center;
        font-size: .8rem;
        font-family: 'Roboto';
        color: #f0f0f0;
        margin: 1rem 0 1rem 0;
      }
    }
  }
}
