div#viewbar {
  background-color: #2c2c2c;
  display: flex;
  height: 2rem;
  width: 100%;

  div#viewbarLeft {
    display: flex;
    height: 100%;

    div#sliderBox {
      align-items: center;
      border-right: 1px solid #2e2e2e;
      display: flex;
      padding: 0 .75rem 0 .75rem;

      img {
        width: 1rem;
        height: 1rem;
      }

      input#slider {
        background: transparent;
        padding: 0 .25rem 0 .25rem;
        -webkit-appearance: none;
        width: 4rem;

        &:hover {
          opacity: 1;
        }

        &::-webkit-slider-runnable-track {
          background: #6b6b6b;
          border-radius: 10px;
          height: 4px;
          width: 100%;
        }

        &::-webkit-slider-thumb {
          background-color: #c5c5c5;
          border-radius: 2px;
          height: 1rem;
          margin-top: -6px; // weird hack to fix slider handle
          -webkit-appearance: none;
          width: 8px;
        }

        &::-moz-range-track {
          background-color: #6b6b6b;
          border-radius: 10px;
          height: 4px;
          width: 100%;
        }

        &::-moz-range-thumb {
          border: 0;
          background-color: #c5c5c5;
          border-radius: 2px;
          height: 16px;
          width: 8px;
        }
      }
    }

    div#displayBox {
      align-items: center;
      border-right: 1px solid #2e2e2e;
      display: flex;
      height: 100%;
      justify-items: center;
      padding: 0 .75rem 0 .75rem;

      button {
        align-items: center;
        background-color: #6b6b6b;
        border-width: 1px;
        border-color: #444444;
        display: flex;
        height: 1.4rem;
        justify-content: center;
        width: 1.4rem;
        
        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }

        img {
          height: .8rem;
          width: .8rem;
        }
      }

      button#coversButton {
        border-bottom-left-radius: 5px;
        border-right: 1px;
        border-top-left-radius: 5px;
      }

      button#detailsButton {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    div#configBox {
      align-items: center;
      display: flex;
      height: 100%;
      justify-items: center;
      padding: 0 .75rem 0 .75rem;

      button {
        align-items: center;
        background-color: #6b6b6b;
        border-width: 1px;
        border-color: #444444;
        display: flex;
        height: 1.4rem;
        justify-content: center;
        width: 1.4rem;
        
        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }

        img {
          height: .8rem;
          width: .8rem;
        }
      }

      button#openButton {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: 1px;
      }

      button#saveButton {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }

  div#viewbarRight {
    height: 100%;
    margin-left: auto;

    div#searchBox {
      align-items: center;
      display: flex;
      height: 100%;
      justify-items: center;
      margin: 0 .75rem 0 .75rem;

      img {
        margin-right: .25rem;
        width: 1.25rem;
      }

      input {
        border-radius: 4px;
        border-width: 1px;
        height: 1.2rem;
        padding: 4px;
        opacity: 0.7;
        transition: width 200ms ease-in-out;
        width: 8rem;

        &:focus {
          opacity: 1;
          width: 12rem;
        }
      }
    }
  }
}