* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 300;
}

body {
  margin: 0;
  background-color: #4b14b3;
  overflow: auto;
  box-sizing: border-box;
}

div#waverunner {

  --tb-height: 1.5rem;

  div#modal-bg {
    width: 100vw;
    height: calc(100vh - var(--tb-height));
    position: absolute;
    top: var(--tb-height);
    left: 0;
    background-color: black;
    opacity: .5;
  }

  div#modal-box {
    width: 100vw;
    height: calc(100vh - var(--tb-height));
    position: absolute;
    top: var(--tb-height);
    left: 0;
    display: flex;
    z-index: 10;
  }

  width: 100vw;
  height: 100vh;

  main {
    width: 100%;
    height: calc(100% - var(--tb-height));
    display: flex;
  }
}