div#viewbar {
  width: 100%;
  height: 30px;
  background-color: #3a3a3a;
}

div#viewbar ul#viewOptionList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#viewbar ul#viewOptionList li.viewbarLeft {
  height: 100%;
}

div#viewbar ul#viewOptionList li.viewbarLeft ul#leftList {
  list-style: none;
  padding: 0;
  height: 100%;
}

div#viewbar ul#viewOptionList li.viewbarLeft ul#leftList li.sizeSliderItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

div#viewbar ul#viewOptionList li.viewbarLeft ul#leftList li.sizeSliderItem input#sizeSlider {
  margin-left: 25px;
  -webkit-appearance: none;
  background: transparent;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

div#viewbar ul#viewOptionList li.viewbarLeft ul#leftList li.sizeSliderItem input#sizeSlider:hover {
  opacity: 1;
}

div#viewbar ul#viewOptionList li.viewbarLeft ul#leftList li.sizeSliderItem input#sizeSlider::-webkit-slider-runnable-track {
  background: #6b6b6b;
  width: 100%;
  height: 4px;
  border-radius: 10px;
}

div#viewbar ul#viewOptionList li.viewbarLeft ul#leftList li.sizeSliderItem input#sizeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 8px;
  border-radius: 2px;
  background-color: #c5c5c5;
  margin-top: calc((4px / 2) - (16px / 2));
}

div#viewbar ul#viewOptionList li.viewbarLeft ul#leftList li.sizeSliderItem input#sizeSlider::-moz-range-track {
  background-color: #6b6b6b;
  width: 100%;
  height: 4px;
  border-radius: 10px;
}

div#viewbar ul#viewOptionList li.viewbarLeft ul#leftList li.sizeSliderItem input#sizeSlider::-moz-range-thumb {
  border: 0;
  width: 8px;
  height: 16px;
  border-radius: 2px;
  background-color: #c5c5c5;
}

div#viewbar ul#viewOptionList li.viewbarRight {
  height: 100%;
  margin-left: auto;
}

div#viewbar ul#viewOptionList li.viewbarRight ul#rightList {
  list-style: none;
  padding: 0;
  height: 100%;
}

div#viewbar ul#viewOptionList li.viewbarRight ul#rightList li.searchbarItem {
  height: 100%;
}

div#viewbar ul#viewOptionList li.viewbarRight ul#rightList li.searchbarItem div#searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 25px;
}

div#viewbar ul#viewOptionList li.viewbarRight ul#rightList li.searchbarItem div#searchContainer img#searchIcon {
  width: 20px;
  margin-right: 4px;
}

div#viewbar ul#viewOptionList li.viewbarRight ul#rightList li.searchbarItem div#searchContainer input#searchbar {
  width: 100px;
  height: 16px;
  padding: 2px;
  border-radius: 5px;
  border-width: 1px;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

div#viewbar ul#viewOptionList li.viewbarRight ul#rightList li.searchbarItem div#searchContainer input#searchbar:focus {
  width: 200px;
  opacity: 1;
}
/*# sourceMappingURL=Viewbar.css.map */