nav#sidebar {
  align-items: center;
  background-color: #080808;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: flex-end;

  div#sidebarViews {
    display: none;
    height: 100%;
    width: 100%;

    ol#filterList {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: .5rem;

      li#filter {

        button#filterButton {
          background-color: transparent;
          border: none;
          padding: .5rem 0 .5rem 0;

          &:hover { opacity: 0.8; }

          &:active { opacity: 0.6; }

          p#filterText { color: #f0f0f0; }
        }
      }
    }
  }

  div#sidebarHandleBox {
    
    button#sidebarHandleButton {
      border: none;
      background-color: #080808;
      color: #f0f0f0;
      cursor: pointer;

      &:hover {
        color: #bbbbbb;
      }
      
      &:active {
        color: #959595;
      }

      img#sidebarHandleIcon {
        color: white;
        width: 1rem;
      }
    }
  }
}
