nav#sidebar {
  background-color: #0c0c0c;
  max-width: 12rem;

  div#logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    
    img#logo {
      width: 2rem;
      height: 2rem;
    }
  }

  div#sidebar-box {
    display: flex;
    height: calc(100% - 6rem);

    div#views {
      height: 100%;
      width: 11rem;
      overflow: hidden;

      button.sidebarButton {
        display: flex;
        color: #f0f0f0;
        background-color: transparent;
        border: none;
        margin: .25rem 0 .25rem 0;
        width: 100%;

        &:hover { opacity: 0.7; }

        &:active { opacity: 0.4; }

        p.filterText {
          text-align: left;
          color: #f0f0f0; 
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;

          span#bold {
            font-weight: bold;
          }
        }

        img#newCategoryLogo {
          width: 1rem;
        }

        p#newCategoryText {
          padding-left: .25rem;
        }
      }
  
      ol#categories {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: .5rem;
      }

      hr#divider {
        border-top: 2px;
        border-color: #141414;
        margin-left: .5rem;
      }

      ol#filters {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: .5rem;
  
        li.filter {
  
          button.sidebarButton {
            background-color: transparent;
            border: none;
            margin: .25rem 0 .25rem 0;
  
            &:hover { opacity: 0.7; }
  
            &:active { opacity: 0.4; }
  
            p.filterText { color: #f0f0f0; }
          }
        }
      }
    }

    div#sidebarHandleBox {
      margin-left: auto;
      display: flex;
      
      button#sidebarHandleButton {
        border: none;
        background-color: transparent;
        color: #f0f0f0;
        cursor: pointer;
  
        &:hover {
          color: #bbbbbb;
        }
        
        &:active {
          color: #959595;
        }
  
        img#sidebarHandleIcon {
          color: white;
          width: 1rem;
        }
      }
    }
  }

  // align-items: center;
  // background-color: #080808;
  // display: flex;
  // flex-shrink: 0;
  // height: 100%;
  // justify-content: flex-end;

  // div#sidebar-box {
  //   display: flex;
  //   align-content: space-between;
  //   flex-direction: column;
  //   height: 100%;
  //   width: 100%;

  //   div#logo-box {
  //     align-items: center;
  //     justify-content: center;
  //     display: flex;
  //     height: 3rem;
  //     width: 3rem;
  //     margin-right: auto;

  //     img#logo {
  //       width: 2rem;
  //     }
  //   }

  //   div#sidebarViews {
  //     display: none;
  //     height: 100%;
  //     width: 100%;
  
  //     ol#filterList {
  //       display: flex;
  //       flex-direction: column;
  //       list-style: none;
  //       padding: .5rem;
  
  //       li.filter {
  
  //         button.sidebarButton {
  //           background-color: transparent;
  //           border: none;
  //           border-left: 2px solid #b8b8b8;
  //           margin: .5rem 0 .5rem 0;
  //           padding: 0 0 0 .5rem;
  
  //           &:hover { opacity: 0.7; }
  
  //           &:active { opacity: 0.4; }
  
  //           p.filterText { color: #f0f0f0; }
  //         }
  //       }
  //     }
  //   }
  
  //   div#sidebarHandleBox {
      
  //     button#sidebarHandleButton {
  //       border: none;
  //       background-color: #080808;
  //       color: #f0f0f0;
  //       cursor: pointer;
  
  //       &:hover {
  //         color: #bbbbbb;
  //       }
        
  //       &:active {
  //         color: #959595;
  //       }
  
  //       img#sidebarHandleIcon {
  //         color: white;
  //         width: 1rem;
  //       }
  //     }
  //   }
  // }
}
