nav#sidebar {
  align-items: center;
  background-color: #080808;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: right;
  transition: width 400ms ease;

  div#sidebarViews {
    display: none;
    height: 100%;
    width: 100%;
  }
  
  div#sidebarHandleBox {
    
    button#sidebarHandleButton {
      border: none;
      background-color: #080808;
      color: #f0f0f0;
      cursor: pointer;

      &:hover {
        color: #bbbbbb;
      }
      
      &:active {
        color: #959595;
      }

      img#sidebarHandleIcon {
        color: white;
        width: 1rem;
      }
    }
  }
}
