@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

header {
  display: flex;
  width: 100vw;
  height: 40px;
  background-color: #1b1b1b;
}

div#logoBox {
  margin: auto 3vw auto 1vw;
}

h1#logo {
  margin: 0;
  font-family: 'Dancing Script', cursive, Helvetica, Arial, sans-serif;
}

nav#libraryMenu {
  margin-right: 5vw;
  flex: 1;
}

ul#libraryMenuList { 
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

li.libraryMenuListItem {
  display: flex;

  width: 12%;
  height: 100%;
}

button.libraryMenuListButton {
  border: none;
  border-radius: 1000px;
  color: #ebebeb;
  background-color: #3a3a3a;
  font-weight: bold;
  width: 75%;
  height: 75%;
  margin: auto;
  transition: background-color 100ms ease;
  z-index: 2;
}

button.libraryMenuListButton:hover {
  background-color: #2e2e2e;
  color: #bbbbbb;
}

button.libraryMenuListButton:active {
  background-color: #222222;
  color: #949494;
}

span.linkText {
  font-family: 'Open Sans', cursive, Helvetica, Arial, sans-serif;
  z-index: 1;
}
