header {
  display: flex;
  width: 100vw;
  height: 40px;
  background-color: #1b1b1b;


  nav#navbar {
    flex: 1;


    ul#navbarList { 
      list-style: none;
      padding: 0;
      margin: 0;
    
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;


      li.navbarListItem {
        display: flex;
      
        height: 100%;
        flex: 1;


        button.navbarListButton {
          border: none;
          border-radius: 1000px;
          color: #ebebeb;
          background-color: #3a3a3a;
          width: 75%;
          height: 65%;
          margin: auto;
          transition: background-color 100ms ease;

          &:hover {
            background-color: #2e2e2e;
            color: #bbbbbb;
          }
          
          &:active {
            background-color: #222222;
            color: #959595;
          }


          span.linkText {
            font-family: 'Roboto';
            font-weight: 300;
          }
        }
      }
    }
  }
}
