div#viewbar {
  width: 100%;
  height: 30px;
  background-color: #3a3a3a;

  ul#viewOptionList {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    

    li.viewbarLeft {
      height: 100%;


      ul#leftList {
        list-style: none;
        padding: 0;
        height: 100%;


        li.sizeSliderItem {
          display: flex;
          height: 100%;

          input#sizeSlider {
            margin-left: 25px;
            -webkit-appearance: none;
            background: transparent;
            opacity: 0.7;
            transition: opacity 200ms ease-in-out;
            

            &:hover {
              opacity: 1;
            }

            &::-webkit-slider-runnable-track {
              background: #6b6b6b;
              width: 100%;
              height: 4px;
              border-radius: 10px;
            }

            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              height: 16px;
              width: 8px;
              border-radius: 2px;
              background-color: #c5c5c5;
              margin-top: calc((4px / 2) - (16px / 2));
            }

            &::-moz-range-track {
              background-color: #6b6b6b;
              width: 100%;
              height: 4px;
              border-radius: 10px;
            }

            &::-moz-range-thumb {
              border: 0;
              width: 8px;
              height: 16px;
              border-radius: 2px;
              background-color: #c5c5c5;
            }
          }
        }
      }
    }

    li.viewbarRight {
      height: 100%;
      margin-left: auto;


      ul#rightList {
        list-style: none;
        padding: 0;
        height: 100%;


        li.searchbarItem {
          height: 100%;


          div#searchContainer {
            display: flex;
            align-items: center;
            height: 100%;
            margin-right: 25px;

            img#searchIcon {
              width: 20px;
              margin-right: 4px;
            }

            input#searchbar {
              width: 100px;
              height: 16px;
              padding: 2px;
              border-radius: 5px;
              border-width: 1px;
              opacity: 0.7;
              
              transition: opacity 200ms ease-in-out;
              transition: width 0.2s ease-in-out;

              &:focus {
                width: 200px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}